.summaryCard {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 72px minmax(0, 1fr);
  align-items: center;
  margin-top: 8px;
  overflow: hidden;
  background-color: var(--color-background-primary);
  border: 2px solid var(--color-primary);
  border-radius: 12px;
}

.summaryCardBody {
  max-width: 100%;
  padding: 0 16px;
  line-height: 18px;
  background-color: var(--color-background-primary);
}

.bannerImage {
  max-width: 100%;
  height: auto;
}

.summaryCard .bannerImage {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.summaryCard .summaryCardBody {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.siteTitle {
  display: -webkit-box;
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-text-main);
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.siteUrl {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
}

.siteUrlText {
  flex-shrink: 1;
  overflow: hidden;
  font-size: 12px;
  font-weight: normal;
  color: var(--color-text-sub);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.siteUrlIcon {
  margin: 0 2px;
}

.siteUrlIcon > svg {
  font-size: 1.125em;
  vertical-align: -0.1875em;
}
