.input {
  box-sizing: border-box;
  width: 100%;
  padding: var(--size-spacing-md) var(--size-spacing-sm) 0.875rem;
  font-size: var(--text-body-md-narrow-size);
  line-height: var(--text-body-md-narrow-line);
  color: var(--color-text-main);
  text-align: inherit;
  appearance: none;
  caret-color: var(--color-primary);
  background-color: var(--color-ubie-white);
  border: 1px solid var(--color-border);
  border-bottom: 2px solid var(--color-border);
  border-radius: 8px 8px 0 0;
}

.input.isInvalid,
.input:user-invalid {
  background: var(--color-background-alert);
  border-bottom-color: var(--color-alert-darken);
}

@supports not (selector(:user-invalid)) {
  .input:invalid {
    background: var(--color-background-alert);
    border-bottom-color: var(--color-alert-darken);
  }
}

.input:disabled {
  color: var(--color-text-disabled);
  background-color: var(--color-background-gray);
}

.input::placeholder {
  color: var(--color-text-placeholder);
}

.input:disabled::placeholder {
    color: var(--color-text-disabled);
}

.input:focus {
  border-bottom-color: var(--color-primary);
  outline: none;
}

.input[type='date'] {
  height: 3.5rem;
  line-height: 1;
}
