# dependencies
/node_modules

# production
*.log

# production
/build
/dist

# misc
.DS_Store

# debug
npm-debug.log*

# storybook
/storybook-static
build-storybook.log

# Test
/test-results/
/playwright-report/
/playwright/.cache/
.reg
__screenshots__
