.text {
  font-size: var(--font-size);
  font-weight: normal;
  hyphens: auto;
  line-height: var(--leading);
  color: var(--text-color);
  overflow-wrap: anywhere;
}

:where(.text) {
  margin-top: 0;
  margin-bottom: 0;
}

a.text {
  text-decoration: underline;
}

@media (hover: hover) {
  a.text:hover {
    text-decoration: none;
  }
}

a.text:focus-visible {
  text-decoration: none;
}

a.text:active {
  text-decoration: underline;
}

button.text {
  padding: 0;
  background-color: transparent;
  border: none;
}

button.text.link:focus-visible {
  color: var(--color-blue-900);
}

@media (hover: hover) {
  button.text.link:hover {
    color: var(--color-blue-900);
  }

  button.text.link:active {
    color: var(--color-text-link);
  }
}

.bold {
  font-weight: bold;
}

/* font-size */
.body.xs {
  --font-size: var(--text-body-xs-size);
}

.body.sm {
  --font-size: var(--text-body-sm-size);
}

.body.md {
  --font-size: var(--text-body-md-size);
}

.body.lg {
  --font-size: var(--text-body-lg-size);
}

.heading.xxs {
  --font-size: var(--text-heading-xxs-size);
}

.heading.xs {
  --font-size: var(--text-heading-xs-size);
}

.heading.sm {
  --font-size: var(--text-heading-sm-size);
}

.heading.md {
  --font-size: var(--text-heading-md-size);
}

.heading.lg {
  --font-size: var(--text-heading-lg-size);
}

.heading.xl {
  --font-size: var(--text-heading-xl-size);
}

.button.sm {
  --font-size: var(--text-button-sm-size);
}

.button.md {
  --font-size: var(--text-button-md-size);
}

.button.lg {
  --font-size: var(--text-button-lg-size);
}

.tag.md {
  --font-size: var(--text-tag-md-size);
}

.tag.lg {
  --font-size: var(--text-tag-lg-size);
}

/* line-height */
.default {
  --leading: var(--text-body-md-line);
}

.default.heading.xs,
.default.heading.sm {
  --leading: var(--text-heading-sm-line);
}

.default.heading.md,
.default.heading.lg,
.default.heading.xl {
  --leading: var(--text-heading-md-line);
}

.button.default {
  --leading: var(--text-button-md-line);
}

.tag.default {
  --leading: var(--text-tag-md-line);
}

.narrow {
  --leading: var(--text-body-md-narrow-line);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}
