.block {
  width: 100%;
}

.radio {
  position: absolute;
  opacity: 0;
}

.label {
  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);

  position: relative;
  box-sizing: border-box;
  display: inline-block;
  padding: 16px 12px 16px 44px;
  font-size: var(--text-body-md-size);
  font-weight: bold;
  hyphens: auto;
  line-height: var(--text-body-md-narrow-line);
  color: var(--color-text-main);
  overflow-wrap: anywhere;
  vertical-align: text-top;
  cursor: pointer;
  background: #fff;
  border-radius: 8px;
  outline: 1px solid var(--color-border);
  transition:
    outline-color 0.3s var(--ease-out-quint),
    background-color 0.3s var(--ease-out-quint);
}

.label.checked {
  background: var(--color-background-primary);
  outline: 2px solid var(--color-primary);
}

.label::before {
  position: absolute;
  top: 50%;
  left: 12px;
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  content: '';
  border-radius: 50%;
  outline: 2px solid var(--color-border);
  transform: translateY(-50%);
}

@media (hover: hover) {
  .label:hover:not(.disabled)::before {
    outline: 2px solid var(--color-primary);
  }
}

.label.checked::before {
  outline: 2px solid var(--color-primary);
}

.label.checked::after {
  position: absolute;
  top: 50%;
  left: 14px;
  box-sizing: border-box;
  display: block;
  width: 16px;
  height: 16px;
  content: '';
  background: var(--color-primary);
  border-radius: 50%;
  transform: translateY(-50%);
}

.label::after {
  position: absolute;
  top: 50%;
  left: 12px;
  box-sizing: border-box;
  display: block;
  content: '';
  border-radius: 50%;
  transform: translateY(-50%);
}

.label.checked.disabled::before {
  outline-color: 2px solid var(--color-border);
}

.label.checked.disabled::after {
  background-color: var(--color-text-disabled);
}

.label:has(.radio:focus-visible) {
  box-shadow: 0 0 0 4px var(--color-accent);
}

@media (hover: hover) {
  .label:hover {
    background-color: var(--color-background-primary);
  }
}

.label.disabled {
  color: var(--color-text-disabled);
  background-color: var(--color-background-gray);
  outline-color: var(--color-text-disabled);
}
