.wrapper {
  padding: 0;
  margin: 0;
  border: none;
}

.legend {
  display: flex;
  gap: var(--size-spacing-xs);
  align-items: center;
  padding: 0;
  margin-bottom: var(--size-spacing-md);
  font-size: var(--text-body-sm-size);
  font-weight: bold;
  color: var(--color-text-sub);
}
