.label {
  display: flex;
  gap: var(--size-spacing-xs);
  align-items: flex-start;
  font-size: var(--text-body-sm-size);
  font-weight: bold;
  hyphens: auto;
  color: var(--color-text-sub);
  overflow-wrap: anywhere;
}

legend.label {
  padding: 0;
}
