.label {
  display: flex;
  font-size: var(--text-body-sm-size);
  font-weight: bold;
  color: var(--color-text-sub);
  align-items: center;
  gap: var(--size-spacing-xs);
}

legend.label {
  padding: 0;
}
