.wrapper {
  position: relative;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 54px;
  padding: 0 64px 0 16px;
  font-size: var(--text-body-md-size);
  font-weight: bold;
  line-height: 54px;
  color: var(--color-text-main);
  appearance: none;
  caret-color: var(--color-ubie-blue-600);
  background-color: var(--color-ubie-white);
  border: 2px solid var(--color-border-black);
  border-radius: 8px;
  transition: border-color 0.3s var(--ease-out-quint);
}

.select::placeholder {
  color: var(--color-text-placeholder);
}

.select:focus {
  outline: none;
}

.select:focus-visible {
  border-color: var(--color-border-blue-darken);
}

@media (hover: hover) {
  .select:hover {
    border: 2px solid var(--color-border-blue);
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 24px;
  height: 24px;
  color: var(--color-ubie-blue-600);
  pointer-events: none;
  transform: translateY(-50%);
}

.disabled .select {
  color: var(--color-text-sub);
  background-color: var(--color-background-black-darken);
  border-color: var(--color-border-black);
}

.disabled .icon {
  color: var(--color-text-sub);
}

.isInvalid .select {
  background: var(--color-background-red);
  border-color: var(--color-border-red);
}

.isInvalid .icon {
  color: var(--color-ubie-red-700);
}
