.icon {
  box-sizing: border-box;
  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-white);
  border: 2px solid var(--color-ubie-black-400);
  border-radius: 24px;
}

.text {
  hyphens: auto;
  overflow-wrap: anywhere;
}

.medium .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.small .icon {
  width: 1.25rem;
  height: 1.25rem;
}

@media (hover: hover) {
  .label:hover .icon {
    border-color: var(--color-primary);
  }
}

.icon::before {
  content: '';
  border-radius: 16px;
}

.medium .icon::before {
  width: 1rem;
  height: 1rem;
}

.small .icon::before {
  width: 0.75rem;
  height: 0.75rem;
}

.radio {
  position: absolute;
  opacity: 0;
}

.radio:checked + .icon {
  border-color: var(--color-primary);
}

.radio:checked + .icon::before {
  background: var(--color-primary);
}

.radio:disabled + .icon + .text {
  color: var(--color-text-disabled);
}

.radio:disabled + .icon {
  border-color: var(--color-text-disabled);
}

.radio:checked:disabled + .icon::before {
  background: var(--color-text-disabled);
}

.radio:focus-visible + .icon {
  border-color: var(--color-accent);
}

.label {
  display: flex;
  gap: var(--size-spacing-xs);
  align-items: center;
  cursor: pointer;
}

.medium .label {
  font-size: var(--text-body-md-tight-size);
  line-height: var(--text-body-md-tight-line);
}

.small .label {
  font-size: var(--text-body-sm-tight-size);
  line-height: var(--text-body-sm-tight-line);
}
