.modal {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-modal);
  overflow: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
}

.normalOverlay {
  background: rgb(0 0 0 / 50%);
}

.darkerOverlay {
  background: rgb(0 0 0 / 80%);
}

.contents {
  padding: 0 var(--size-spacing-md);
}

.modalBody {
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-lg);
  width: 100%;
  max-width: 600px;
  max-height: calc(100% - 24px);
  padding: var(--size-spacing-lg) 0;
  margin: 0 auto;
  background: #fff;
  border-radius: 12px;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
  transform: translate3d(-50%, 0, 0);
}

.modalBody.bodyScroll {
  overflow-y: auto;
}

.modalBody.headerLess {
  padding-top: var(--size-spacing-xl);
}

.modalBody.fullscreen {
  height: calc(100% - 24px);
}

.modalBody.fullscreen.contents {
  height: 100%;
  min-height: 400px;
  overflow: hidden;
}

.header {
  font-size: var(--text-heading-xs-size);
  font-weight: bold;
  line-height: var(--text-heading-xs-line);
  text-align: center;
  white-space: pre-wrap;

  /* May receive focus in the initial display. */
  outline: none;
}

.buttonContainer {
  display: grid;
  gap: var(--size-spacing-md);
  padding: 0 var(--size-spacing-md);
}

.overlayEnter {
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  transition-property: opacity;
}

.overlayEnterFrom {
  opacity: 0;
}

.overlayEnterTo {
  opacity: 1;
}

.overlayLeave {
  transition-timing-function: ease-in;
  transition-duration: 200ms;
}

.overlayLeaveFrom {
  opacity: 1;
}

.overlayLeaveTo {
  opacity: 0;
}

.panelEnter {
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  transition-property: transform, opacity;
}

.panelEnterFrom {
  opacity: 0;
  transform: translate3d(-50%, 100%, 0);
}

.panelEnterTo {
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}

.panelLeave {
  transition-timing-function: ease-in;
  transition-duration: 200ms;
}

.panelLeaveFrom {
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}

.panelLeaveTo {
  opacity: 0;
  transform: translate3d(-50%, 100%, 0);
}
