.flexItem {
  min-width: var(--min-width);
  max-width: var(--max-width);
  padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
  margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
}

.none {
  flex: none;
}

.longhand {
  flex: var(--flex-grow) var(--flex-shrink) var(--flex-basis);
}
