.card {
  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);

  display: flex;
  gap: var(--size-spacing-sm);
  align-items: center;
  padding: var(--size-spacing-md);
  hyphens: auto;
  text-decoration: none;
  overflow-wrap: anywhere;
  background-color: var(--color-ubie-white);
  border: 1px solid var(--color-border-black);
  border-radius: var(--radius-md);
  transition: background-color 0.3s var(--ease-out-quint);
}

.card:hover {
  background-color: var(--color-background-blue);
}

.icon {
  flex: none;
  color: var(--color-ubie-blue-600);
}

.icon > * {
  width: var(--icon-size);
  height: var(--icon-size);
  vertical-align: bottom;
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--size-spacing-xxs);
}

.title {
  margin: 0;
  font-size: var(--title-font-size);
  font-weight: bold;
  color: var(--color-text-main);
}

.description {
  margin: 0;
  font-size: var(--description-font-size);
  line-height: var(--description-line-height);
  color: var(--color-text-sub);
}

.caret {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-ubie-blue-600);
}

/* Size */
.medium {
  --icon-size: 2rem;
  --title-font-size: var(--text-heading-xs-line);
  --description-font-size: var(--text-body-sm-size);
  --description-line-height: var(--text-body-sm-line);
}

.small {
  --icon-size: 1.25rem;
  --title-font-size: var(--text-button-md-size);
  --description-font-size: var(--text-body-xs-size);
  --description-line-height: var(--text-body-xs-line);
}
