.card {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-sm);
  padding: var(--size-spacing-md);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  text-decoration: none;
}

.card:hover {
  background-color: var(--color-background-primary);
}

.icon {
  flex: none;
  font-size: var(--icon-size);
  color: var(--color-primary);
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-xxs);
}

.title {
  margin: 0;
  font-size: var(--title-font-size);
  font-weight: bold;
  color: var(--color-text-main);
}

.description {
  margin: 0;
  font-size: var(--description-font-size);
  line-height: var(--description-line-height);
  color: var(--color-text-sub);
}

.caret {
  color: var(--color-primary);
  width: 1.25rem;
  height: 1.25rem;
}

/* Size */
.medium {
  --icon-size: 2rem;
  --title-font-size: var(--text-heading-xs-line);
  --description-font-size: var(--text-note-lg-size);
  --description-line-height: var(--text-note-lg-line);
}

.small {
  --icon-size: 1.25rem;
  --title-font-size: var(--text-button-md-size);
  --description-font-size: var(--text-note-md-size);
  --description-line-height: var(--text-note-md-line);
}
