.divider {
  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);
  height: 1px;
  margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
  border: 0;
  border-top: var(--border-width) solid var(--border-color);
}