.heading {
  position: relative;
  box-sizing: border-box;
  font-weight: normal;
  hyphens: auto;
  color: var(--color-text-main);
  overflow-wrap: anywhere;

  --medium-leading-border-width: 4px;
  --large-leading-border-width: 5px;
}

.heading.bold {
  font-weight: bold;
}

:where(.heading) {
  margin: 0;
}

.heading.left {
  text-align: left;
}

.heading.center {
  text-align: center;
}

.heading.right {
  text-align: right;
}

.heading.main {
  color: var(--color-text-main);
}

.heading > a {
  color: var(--color-text-link);
}

@media (hover: hover) {
  .heading > a:hover {
    color: var(--color-ubie-blue-700);
  }
}

.heading > a:active {
  text-decoration: none;
}

.heading.white {
  color: var(--color-text-white);
}

.heading.white,
.heading.white > a {
  color: var(--color-text-white);
}

@media (hover: hover) {
  .heading.white > a:hover {
    text-decoration: none;
  }
}

.heading.white > a:active {
  position: relative;
  top: 1px;
  text-decoration: underline;
}

.heading.xxs {
  font-size: var(--text-heading-xxs-size);
  line-height: var(--text-heading-xxs-line);
}

.heading.xs {
  font-size: var(--text-heading-xs-size);
  line-height: var(--text-heading-xs-line);
}

.heading.sm {
  font-size: var(--text-heading-sm-size);
  line-height: var(--text-heading-sm-line);
}

.heading.md {
  font-size: var(--text-heading-md-size);
  line-height: var(--text-heading-md-line);
}

.heading.lg {
  font-size: var(--text-heading-lg-size);
  line-height: var(--text-heading-lg-line);
}

.heading.xl {
  font-size: var(--text-heading-xl-size);
  line-height: var(--text-heading-xl-line);
}

.heading.leadingBorder {
  padding-left: calc(var(--size-spacing-sm) + var(--medium-leading-border-width));
}

.heading.leadingBorder::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: var(--medium-leading-border-width);
  height: 100%;
  vertical-align: top;
  content: '';
  background-color: var(--color-ubie-blue-600);
  border-radius: 3px;
}

.heading.lg.leadingBorder,
.heading.xl.leadingBorder {
  padding-left: calc(var(--size-spacing-sm) + var(--large-leading-border-width));
}

.heading.lg.leadingBorder::before,
.heading.xl.leadingBorder::before {
  width: var(--large-leading-border-width);
}

.heading.noWrap {
  white-space: nowrap;
}
