.modal {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  inset: 0;
}

.normalOverlay {
  background: rgb(0 0 0 / 50%);
}

.darkerOverlay {
  background: rgb(0 0 0 / 80%);
}

.modalBody {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-lg);
  width: calc(100% - 32px);
  max-width: 600px;
  max-height: calc(100% - 48px);
  padding: var(--size-spacing-lg) var(--size-spacing-md) var(--size-spacing-md);
  margin: 0 auto;
  overflow-y: auto;
  background: #fff;
  border-radius: var(--radius-lg);
}

.modalBody.fixedHeight {
  height: calc(100% - 48px);
}

.contents {
  text-align: center;

  /* May receive focus in the initial display. */
  outline: none;
}

.modalBody.fixedHeight .contents {
  height: 100%;
  min-height: 400px;
  overflow: hidden;
}

.header {
  font-size: var(--text-heading-xs-size);
  font-weight: bold;
  line-height: var(--text-heading-xs-line);
  text-align: center;
  white-space: pre-wrap;

  /* May receive focus in the initial display. */
  outline: none;
}

.panelEnter {
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  transition-property: opacity;
}

.panelEnterFrom {
  opacity: 0;
}

.panelEnterTo {
  opacity: 1;
}

.panelLeave {
  transition-timing-function: ease-in;
  transition-duration: 200ms;
}

.panelLeaveFrom {
  opacity: 1;
}

.panelLeaveTo {
  opacity: 0;
}
