.modal {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-modal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  inset: 0;
}

.normalOverlay {
  background: rgb(0 0 0 / 50%);
}

.darkerOverlay {
  background: rgb(0 0 0 / 80%);
}

.dialog {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  max-width: 600px;
  max-height: calc(100% - 48px);
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  border-radius: var(--radius-lg);
}

.dialog.fixedHeight {
  height: calc(100% - 48px);
}

.mainContent {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.mainContent.fixedHeight {
  flex-grow: 1;
}

.mainContent.headerLess {
  padding-top: var(--size-spacing-xl);
}

.body {
  padding-right: var(--size-spacing-md);
  padding-left: var(--size-spacing-md);
  text-align: center;
}

.body.fixedHeight {
  height: 100%;
  min-height: 400px;
  overflow: hidden;
}

.hero {
  flex: 0 0 auto;
  overflow: hidden;
}

.header {
  padding: var(--size-spacing-lg) var(--size-spacing-md);
  font-size: var(--text-heading-xs-size);
  font-weight: bold;
  line-height: var(--text-heading-xs-line);
  text-align: center;
  white-space: pre-wrap;
  background: var(--color-ubie-white);

  /* May receive focus in the initial display. */
  outline: none;
}

.header.stikcy {
  position: sticky;
  top: 0;
}

.panelEnter {
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  transition-property: opacity;
}

.panelEnterFrom {
  opacity: 0;
}

.panelEnterTo {
  opacity: 1;
}

.panelLeave {
  transition-timing-function: ease-in;
  transition-duration: 200ms;
}

.panelLeaveFrom {
  opacity: 1;
}

.panelLeaveTo {
  opacity: 0;
}

.footer {
  position: sticky;
  bottom: 0;
  padding: var(--size-spacing-lg) var(--size-spacing-md) var(--size-spacing-md);
  background-color: var(--color-ubie-white);
}