.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-modal);
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.normalOverlay {
  background: rgb(0 0 0 / 50%);
}

.darkerOverlay {
  background: rgb(0 0 0 / 80%);
}

.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.modalBody {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-lg);
  width: calc(100% - 32px);
  max-width: 450px;
  max-height: 90vh;
  padding: 40px 16px 24px;
  margin: 0 auto;
  overflow-y: auto;
  background: #fff;
  border-radius: 12px;
}

.modalBody.fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vh;
  max-width: 100vh;
  height: 100vh;
  max-height: 100vh;
  padding: calc(env(safe-area-inset-top) + 40px) 32px calc(env(safe-area-inset-bottom) + 24px) 32px;
  margin: 0;
  overflow-y: hidden;
  border-radius: 0;
}

.header {
  font-size: var(--text-heading-xs-size);
  font-weight: bold;
  line-height: var(--text-heading-xs-line);
  text-align: center;
  white-space: pre-wrap;
}

.content {
  text-align: center;
}

.panelEnter {
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  transition-property: opacity;
}

.panelEnterFrom {
  opacity: 0;
}

.panelEnterTo {
  opacity: 1;
}

.panelLeave {
  transition-timing-function: ease-in;
  transition-duration: 200ms;
}

.panelLeaveFrom {
  opacity: 1;
}

.panelLeaveTo {
  opacity: 0;
}
