.flex {
  --gap: 0;

  display: flex;
  gap: var(--gap);
  flex-direction: var(--flex-direction);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
}

.flex.heightFull {
  height: 100%;
}

.flex.widthFull {
  width: 100%;
}
