.card {
  display: flex;
  gap: var(--size-spacing-sm);
  align-items: center;
  width: 100%;
  padding: var(--size-spacing-md);
  font-size: var(--text-button-lg-size);
  font-weight: bold;
  hyphens: auto;
  line-height: var(--text-button-lg-line);
  text-decoration: none;
  overflow-wrap: anywhere;
  cursor: pointer;
  background-color: var(--color-ubie-white);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
}

@media (hover: hover) {
  .card:hover:not(:disabled) {
    background-color: var(--color-background-primary);
  }
}

.card:disabled {
  color: var(--color-text-disabled);
  cursor: initial;
  background-color: var(--color-background-gray);
}
