.container {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-xs);
  user-select: none;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
}

.checkIconContainer {
  display: inline-block;
  border: 2px solid var(--color-ubie-black-400);
  border-radius: var(--radius-sm);
  transition: background-color 200ms;
  box-sizing: border-box;
}

.container.medium {
  font-size: var(--text-body-md-tight-size);
  line-height: var(--text-body-md-tight-line);
}

.container.small {
  font-size: var(--text-body-sm-tight-size);
  line-height: var(--text-body-sm-tight-line);
}

.medium .checkIconContainer {
  width: 1.5rem;
  height: 1.5rem;
}

.small .checkIconContainer {
  width: 1.25rem;
  height: 1.25rem;
}

.checkIcon {
  visibility: hidden;
  color: #fff;
}

.medium .checkIcon {
  font-size: 1.25rem;
}

.small .checkIcon {
  font-size: 1rem;
}

.container input:checked + .checkIconContainer {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.container input:checked + .checkIconContainer .checkIcon {
  visibility: initial;
}

.container input:focus-visible + .checkIconContainer {
  outline: solid var(--color-accent) 2px;
}
