.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;

  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
}

.checkbox,
.label,
.symbol {
  transition:
    border-color 0.3s var(--ease-out-quint),
    background-color 0.3s var(--ease-out-quint),
    outline-color 0.3s var(--ease-out-quint);
}

/**
 * label
 */
.label {
  display: flex;
  gap: var(--size-spacing-xs);
  align-items: center;
  hyphens: auto;
  overflow-wrap: anywhere;
  cursor: pointer;
}

.label:has(.checkbox:disabled) {
  cursor: initial;
}

.label.medium {
  font-size: var(--text-body-md-tight-size);
  line-height: var(--text-body-md-tight-line);
}

.label.small {
  font-size: var(--text-body-sm-tight-size);
  line-height: var(--text-body-sm-tight-line);
}

/**
 * symbol
 */
.symbol {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-ubie-white);
  background-color: var(--color-ubie-white);
  border: 2px solid var(--color-border);
  border-radius: var(--radius-sm);
  transition: background-color 200ms;
}

.symbol.medium {
  width: 1.5rem;
  height: 1.5rem;
}

.symbol.small {
  width: 1.25rem;
  height: 1.25rem;
}

.symbol.isIndeterminate {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.checkbox:checked + .symbol,
.symbol.isIndeterminate {
  border-width: 0;
}

.checkbox:checked + .symbol {
  background-color: var(--color-primary);
}

.checkbox:focus-visible + .symbol {
  outline: 2px solid var(--color-accent);
}

.checkbox:disabled:checked + .symbol,
.checkbox:disabled + .symbol.isIndeterminate {
  background-color: var(--color-text-disabled);
}

@media (hover: hover) {
  .checkbox:not(:disabled) + .symbol:not(.isIndeterminate):hover {
    border-color: var(--color-primary);
  }

  .checkbox:checked:not(:disabled) + .symbol:hover {
    background-color: var(--color-primary-darken);
  }
}

/**
 * symbol icon
 */
.symbolCheckIcon {
  visibility: hidden;
}

.checkbox:checked + .symbol > .symbolCheckIcon {
  visibility: initial;
}

.symbolCheckIcon.medium,
.symbolIndeterminate.medium {
  font-size: 1.25rem;
}

.symbolCheckIcon.small,
.symbolIndeterminate.small {
  font-size: 1rem;
}
