.root {
  position: relative;
  display: inline-flex;
  width: 3rem;
  height: 1.5rem;
  padding: 0.125rem;
  cursor: pointer;
  border-radius: 3rem;
  transition: background-color 200ms;
  -webkit-tap-highlight-color: transparent;
}

.root,
.root * {
  box-sizing: border-box;
}

.root:has(input:disabled) {
  cursor: default;
  background-color: var(--color-text-disabled);
}

.on {
  background-color: var(--color-primary);
}

.off {
  background-color: var(--color-ubie-black-400);
}

@media (hover: hover) {
  .on:hover {
    background-color: var(--color-primary-darken);
  }

  .off:hover {
    background-color: var(--color-ubie-black-700);
  }
}

.thumb {
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--color-ubie-white);
  border-radius: 50%;
  transition: transform 200ms;
}

.thumbOn {
  transform: translateX(1.5rem);
}

.thumbOff {
  transform: translateX(0);
}

.input {
  position: absolute;
  padding: 0;
  visibility: hidden;
  border: none;
}
