.box {
  box-sizing: border-box;
  display: block;
}

.box.ptXxs {
  padding-top: var(--size-spacing-xxs);
}

.box.ptXs {
  padding-top: var(--size-spacing-xs);
}

.box.ptSm {
  padding-top: var(--size-spacing-sm);
}

.box.ptMd {
  padding-top: var(--size-spacing-md);
}

.box.ptLg {
  padding-top: var(--size-spacing-lg);
}

.box.ptXl {
  padding-top: var(--size-spacing-xl);
}

.box.ptXxl {
  padding-top: var(--size-spacing-xxl);
}

.box.pbXxs {
  padding-bottom: var(--size-spacing-xxs);
}

.box.pbXs {
  padding-bottom: var(--size-spacing-xs);
}

.box.pbSm {
  padding-bottom: var(--size-spacing-sm);
}

.box.pbMd {
  padding-bottom: var(--size-spacing-md);
}

.box.pbLg {
  padding-bottom: var(--size-spacing-lg);
}

.box.pbXl {
  padding-bottom: var(--size-spacing-xl);
}

.box.pbXxl {
  padding-bottom: var(--size-spacing-xxl);
}

.box.plXxs {
  padding-left: var(--size-spacing-xxs);
}

.box.plXs {
  padding-left: var(--size-spacing-xs);
}

.box.plSm {
  padding-left: var(--size-spacing-sm);
}

.box.plMd {
  padding-left: var(--size-spacing-md);
}

.box.plLg {
  padding-left: var(--size-spacing-lg);
}

.box.plXl {
  padding-left: var(--size-spacing-xl);
}

.box.plXxl {
  padding-left: var(--size-spacing-xxl);
}

.box.prXxs {
  padding-right: var(--size-spacing-xxs);
}

.box.prXs {
  padding-right: var(--size-spacing-xs);
}

.box.prSm {
  padding-right: var(--size-spacing-sm);
}

.box.prMd {
  padding-right: var(--size-spacing-md);
}

.box.prLg {
  padding-right: var(--size-spacing-lg);
}

.box.prXl {
  padding-right: var(--size-spacing-xl);
}

.box.prXxl {
  padding-right: var(--size-spacing-xxl);
}

.box.mtXxs {
  margin-top: var(--size-spacing-xxs);
}

.box.mtXs {
  margin-top: var(--size-spacing-xs);
}

.box.mtSm {
  margin-top: var(--size-spacing-sm);
}

.box.mtMd {
  margin-top: var(--size-spacing-md);
}

.box.mtLg {
  margin-top: var(--size-spacing-lg);
}

.box.mtXl {
  margin-top: var(--size-spacing-xl);
}

.box.mtXxl {
  margin-top: var(--size-spacing-xxl);
}

.box.mbXxs {
  margin-bottom: var(--size-spacing-xxs);
}

.box.mbXs {
  margin-bottom: var(--size-spacing-xs);
}

.box.mbSm {
  margin-bottom: var(--size-spacing-sm);
}

.box.mbMd {
  margin-bottom: var(--size-spacing-md);
}

.box.mbLg {
  margin-bottom: var(--size-spacing-lg);
}

.box.mbXl {
  margin-bottom: var(--size-spacing-xl);
}

.box.mbXxl {
  margin-bottom: var(--size-spacing-xxl);
}

.box.mlXxs {
  margin-left: var(--size-spacing-xxs);
}

.box.mlXs {
  margin-left: var(--size-spacing-xs);
}

.box.mlSm {
  margin-left: var(--size-spacing-sm);
}

.box.mlMd {
  margin-left: var(--size-spacing-md);
}

.box.mlLg {
  margin-left: var(--size-spacing-lg);
}

.box.mlXl {
  margin-left: var(--size-spacing-xl);
}

.box.mlXxl {
  margin-left: var(--size-spacing-xxl);
}

.box.mrXxs {
  margin-right: var(--size-spacing-xxs);
}

.box.mrXs {
  margin-right: var(--size-spacing-xs);
}

.box.mrSm {
  margin-right: var(--size-spacing-sm);
}

.box.mrMd {
  margin-right: var(--size-spacing-md);
}

.box.mrLg {
  margin-right: var(--size-spacing-lg);
}

.box.mrXl {
  margin-right: var(--size-spacing-xl);
}

.box.mrXxl {
  margin-right: var(--size-spacing-xxl);
}

.box.radiusXs {
  border-radius: var(--radius-xs);
}

.box.radiusSm {
  border-radius: var(--radius-sm);
}

.box.radiusMd {
  border-radius: var(--radius-md);
}

.box.radiusLg {
  border-radius: var(--radius-lg);
}

.box.backgroundColorPrimary {
  background-color: var(--color-background-primary);
}

.box.backgroundColorPrimaryDarken {
  background-color: var(--color-background-primary-darken);
}

.box.backgroundColorAccent {
  background-color: var(--color-background-accent);
}

.box.backgroundColorAccentDarken {
  background-color: var(--color-background-accent-darken);
}

.box.backgroundColorAlert {
  background-color: var(--color-background-alert);
}

.box.backgroundColorGray {
  background-color: var(--color-background-gray);
}

.box.backgroundColorWhite {
  background-color: var(--color-background-white);
}

.box.borderGray {
  border: 1px solid var(--color-border);
}

.box.borderGrayThick {
  border: 2px solid var(--color-border);
}

.box.borderPrimary {
  border: 1px solid var(--color-primary);
}

.box.borderPrimaryThick {
  border: 2px solid var(--color-primary);
}

.box.widthFull {
  width: 100%;
}
