.container,
.container * {
  box-sizing: border-box;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  color: var(--color-text-main);
  cursor: pointer;
  background: none;
  border: 1px solid var(--color-border);
}

.button:hover {
  background-color: var(--color-background-primary);
}

/* for Safari */
.button::-webkit-details-marker {
  display: none;
}

.medium .button {
  width: 100%;
  min-height: 2rem;
  padding: var(--size-spacing-md);
  font-weight: bold;
  border-radius: var(--radius-md);
}

.small .button {
  width: 100%;
  min-height: 1.5rem;
  padding: var(--size-spacing-xs);
  font-size: var(--text-button-md-size);
  border-right: none;
  border-left: none;
}

details[open] .button {
  border-bottom: none;
}

details[open].medium .button {
  border-radius: var(--radius-md) var(--radius-md) 0 0;
}

.arrow {
  flex: none;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  color: var(--color-primary);
}

details[open] .arrow {
  transform: rotate(180deg);
}

.medium .panel {
  padding: var(--size-spacing-md);
  border: 1px solid var(--color-border);
  border-top: none;
  border-radius: 0 0 var(--radius-md) var(--radius-md);
}

.small .panel {
  padding: var(--size-spacing-xs);
  border-bottom: 1px solid var(--color-border);
}
