.center {
  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);
  padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
  margin-inline: auto;
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
}

.center.textCenter {
  text-align: center;
}

.center.childrenCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
